@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);
  --primary-dark-grayish-magenta: hsl(303, 10%, 53%);
  --primary-light-grayish-magenta: hsl(300, 24%, 96%);
  --primary-White: hsl(0, 0%, 100%);
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  font-size:62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.container {
  width: 327px;
  /* background-color: aqua; */
  height: auto;
  margin-inline: auto;
  padding: 80px 0;
  /* padding: 82px 10px; */
}

h1 {
  font-size: 4rem;
  color: var(--primary-very-dark-magenta);
  margin-bottom: 25px;
}

.left-column p {
  font-size: 1.8rem;
  color: var(--primary-dark-grayish-magenta);
  margin-bottom: 48px;
  line-height: 2.2rem;
}

h1,
.left-column p {
  text-align: center;
}

.rate {
  width: 327px;
  height: 75px;
  background-color: var(--primary-light-grayish-magenta);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 18px;
  border-radius: 10px;
}

.rate:last-child {
  margin-bottom: 49px;
}

.rate p {
  font-size: 1.7rem;
  font-weight: var(--font-weight-500);
  color: var(--primary-very-dark-magenta);
}

.review-card {
  width: 327px;
  height: 248px;
  background-color: var(--primary-very-dark-magenta);
  color: var(--primary-White);
  border-radius: 10px;
  padding: 40px 29px;
  margin-bottom: 16px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.user img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-right: 20px;
}

.user-info p:nth-child(1) {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: var(--font-weight-400);
}

.user-info p:nth-child(2) {
  font-size: 1.7rem;
  color: var(--primary-soft-pink);
  font-weight: var(--font-weight-400);
}

.review {
  font-size: 1.6rem;
  line-height: 2.1rem;
}